@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
html, body{
    max-width: 100%;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* General styling ------------------------------------------------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    font-size: 52px;
    font-weight: bold;

}

h2 {
    font-size: 32px;

}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

/* styling common sections------------------------------------------------------- */

/* styling top bar ======================================*/

.top-bar {
    background-color: #012D5B;
    padding: 12px 0;
}

.top-bar p {
    color: white;
    font-weight: 500;

}

.top-bar .fa {
    color: white;
    margin-left: 20px;
}

.top-bar .fa-envelope {
    margin-left: 40px;
    margin-right: 10px;
}

.top-bar .fa-map-marker {
    margin-right: 10px;
    margin-left: 0;
}

/* styling nav-bar ====================================== */

.nav-bar {
    padding: 20px 0;
}

.brand-icon img {
    width: 90px;

}

.navbar-links a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #012D5B;
    margin-left: 30px;
}

.btn {
    padding: 13px 34px;
    border-radius: 3px;

}

.btn-primary {
    background-color: rgba(245, 102, 102, 0.979);
    color: white;
    margin-left: 50px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}



/* styling home page */


/* styling hero section =========================================================*/

.hero {
    background-size: cover;
    background-image: url(assets/hero/h1_hero.jpg), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

.sub-container {
    width: 65%;
    margin: 0 auto;
}

.hero p {
    font-size: 16px;
    padding-top: 200px;
    text-transform: uppercase;
    color: rgba(245, 102, 102, 0.979);
   
}

.hero h1 {
    color: #012D5B;
    text-transform: uppercase;
    padding: 20px 0;
    font-weight: 900;
    width: 60%;
    line-height: 1.2;
    

}

.hero .btn {

    margin-left: 0;
    margin-bottom: 200px;
    padding: 13px 35px;
}

/* styling the team section======================== */

.team{
    background-color:#F6F9FE;
    padding: 120px 0;
}

.team .col-1{
    flex-basis: 30%;
   

}


.team  .col-1 h3{
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0;
    text-transform: capitalize;
}

.team .col-1 p{
    font-weight: bold;
    font-size: 12px;
    line-height: 1.8;
    color: grey;
}
.team .col-1 img{
    width: 300px;

}

.team .col-3{
    flex-basis: 30%;
    border: 4px solid red;
    padding:34px 20px ;
    align-items: flex-start;
    background-color: white;
   

}
.team .col-3 h2{
    font-weight: bold;
    font-size: 32px;
    text-transform: capitalize;
}

.team .col-3 hr{
    width: 30px ;
    border: none;
    border-top: 4px solid red;
    margin: 10px 0;
}
.team .col-3 p{
    font-weight: 500;
    font-size: 12px;
    color: rgb(88, 88, 88);
    line-height: 1.8;
    padding: 10px 0;
}
.team .col-3 .fa{
    margin-left: 10px;
}
#view-profile{
    font-size: 14px;
    color: black;
}

/* styling work section ================================*/

.work{
    padding: 100px 0;
}
.work img{
    width: 530px;
}
.work .sub-container{
    position: relative;
} 


.work-content{
    padding: 40px 30px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.6),rgba(255,255,255,0.6));
    width: 450px;
    left:450px;
    top:100px;
    position: absolute;
}

.work-content h2{
    font-weight: 800;
    line-height: 1.2;
    padding: 10px 0;

}
.work-content p{
    line-height: 1.8;
    color: rgb(93, 92, 92);
    font-size: 14px;
    padding: 20px 0;
}
.work-content .btn-primary {
    margin:20px 0;

}

/* styling services section ================================================= */


.services{
    padding:50px 0;
}

.services .sub-container{
    align-items: center;
}

.services h1{
    text-transform: capitalize;
    padding-bottom: 40px;
    
}
.services img{
    width: 50px;
}
.services .col-1{
    padding:50px 30px;
    text-align: center;
    flex-basis: 31%;
    align-items: center;
    background-color: rgba(252, 252, 255, 1);
}
.services h3{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
}
.services p{
   font-weight: 600;
   color: lightslategray;
   text-align: left;
   padding: 20px 0;
   width: 65%;
   margin: 0 auto;
}
.btn-secondary{
    background-color: white;
    border: 2px solid red;
    color: red;
    margin: 30px 0;
    padding: 10px 20px;
    font-size: 12px;
}

/* styling cases section  ============================================ */

.cases{
    padding:200px 0;
    background-color: rgba(250, 250, 255, 1);
}
.cases .col-1{
    width: 500px;
    padding: 30px ;
    
}
.cases .sub-container{
    position: relative;
}
.cases .col-2{
    position: absolute;
  align-items: flex-end;
    flex-basis: 50%;
  left: 600px;
}

.col-2 img{
    width: 300px;
}
.cases .btn{
    background-color: rgba(250, 250, 255, 1); 
    margin-top: 10px;
    padding:13px 35px;
}

.cases h2{
    font-weight: 800;
    text-transform: capitalize;
}

.cases p{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.8;
    color:lightslategray;
    padding:20px 0;
}