@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* General styling ------------------------------------------------------------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    font-size: 52px;
    font-weight: bold;

}

h2 {
    font-size: 32px;

}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 12px;
}

/* styling common sections------------------------------------------------------- */

/* styling top bar ======================================*/

.top-bar {
    background-color: #012D5B;
    padding: 12px 0;
}

.top-bar p {
    color: white;
    font-weight: 500;

}

.top-bar .fa {
    color: white;
    margin-left: 20px;
}

.top-bar .fa-envelope {
    margin-left: 40px;
    margin-right: 10px;
}

.top-bar .fa-map-marker {
    margin-right: 10px;
    margin-left: 0;
}

/* styling nav-bar ====================================== */

.nav-bar {
    padding: 20px 0;
    background-color: #F8FAFE;

}

.brand-icon img {
    width: 90px;

}

.navbar-links a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #012D5B;
    margin-left: 30px;
}

.btn {
    padding: 13px 34px;
    border-radius: 3px;

}

.btn-primary {
    background-color: rgba(245, 102, 102, 0.979);
    color: white;
    margin-left: 50px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}



/* styling home page */


/* styling hero section =========================================================*/

.hero {
    background-size: cover;
    background-image: url(assets/hero/h1_hero.jpg), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

.sub-container {
    width: 65%;
    margin: 0 auto;
}

.hero p {
    font-size: 16px;
    padding-top: 200px;
    text-transform: uppercase;
    color: rgba(245, 102, 102, 0.979);

}

.hero h1 {
    color: #012D5B;
    text-transform: uppercase;
    padding: 20px 0;
    font-weight: 900;
    width: 60%;
    line-height: 1.2;


}

.hero .btn {

    margin-left: 0;
    margin-bottom: 200px;
    padding: 13px 35px;
}

/* styling the team section======================== */

.team {
    background-color: #F6F9FE;
    padding: 120px 0;
}

.team .col-1 {
    flex-basis: 30%;


}


.team .col-1 h3 {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0;
    text-transform: capitalize;
}

.team .col-1 p {
    font-weight: bold;
    font-size: 12px;
    line-height: 1.8;
    color: grey;
}

.team .col-1 img {
    width: 300px;

}

.team .col-3 {
    flex-basis: 30%;
    border: 4px solid red;
    padding: 34px 20px;
    align-items: flex-start;
    background-color: white;


}

.team .col-3 h2 {
    font-weight: bold;
    font-size: 32px;
    text-transform: capitalize;
}

.team .col-3 hr {
    width: 30px;
    border: none;
    border-top: 4px solid red;
    margin: 10px 0;
}

.team .col-3 p {
    font-weight: 500;
    font-size: 12px;
    color: rgb(88, 88, 88);
    line-height: 1.8;
    padding: 10px 0;
}

.team .col-3 .fa {
    margin-left: 10px;
}

#view-profile {
    font-size: 14px;
    color: black;
}

/* styling work section ================================*/

.work {
    padding: 100px 0;
}

.work img {
    width: 530px;
}

.work .sub-container {
    position: relative;
}


.work-content {
    padding: 40px 30px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    width: 450px;
    left: 450px;
    top: 100px;
    position: absolute;
}

.work-content h2 {
    font-weight: 800;
    line-height: 1.2;
    padding: 10px 0;

}

.work-content p {
    line-height: 1.8;
    color: rgb(93, 92, 92);
    font-size: 14px;
    padding: 20px 0;
}

.work-content .btn-primary {
    margin: 20px 0;

}

/* styling services section ================================================= */


.services {
    padding: 50px 0;
}

.services .sub-container {
    align-items: center;
}

.services h1 {
    text-transform: capitalize;
    padding-bottom: 40px;

}

.services img {
    width: 50px;
}

.services .col-1 {
    padding: 50px 30px;
    text-align: center;
    flex-basis: 31%;
    align-items: center;
    background-color: rgba(252, 252, 255, 1);
}

.services h3 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
}

.services p {
    font-weight: 600;
    color: lightslategray;
    text-align: left;
    padding: 20px 0;
    width: 65%;
    margin: 0 auto;
}

.btn-secondary {
    background-color: white;
    border: 2px solid red;
    color: red;
    margin: 30px 0;
    padding: 10px 20px;
    font-size: 12px;
}

/* styling cases section  ============================================ */

.cases {
    padding: 200px 0;
    background-color: rgba(250, 250, 255, 1);
}

.cases .col-1 {
    width: 500px;
    padding: 30px;

}

.cases .sub-container {
    position: relative;
}

.cases .col-2 {
    position: absolute;
    align-items: flex-end;
    flex-basis: 50%;
    left: 510px;
}

.col-2 img {
    width: 310px;
    margin-top: 0;
    margin-left: 20px;
}

.cases .btn {
    background-color: rgba(250, 250, 255, 1);
    margin-top: 10px;
    padding: 13px 35px;
}

.cases h2 {
    font-weight: 800;
    text-transform: capitalize;
}

.cases p {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.8;
    color: lightslategray;
    padding: 20px 0;
}

/* styling testimonials section =============================================== */

.testimonials {
    padding: 80px 0;
}

.testimonial-1 {
    align-items: center;
    padding: 20px 180px;
}

.testimonials h3 {
    font-weight: 400;
    font-size: 20px;
}

.stars {
    padding: 20px 0;
    color: #F8B135;
}

.testimonials .name {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: black;

}

.testimonials p {
    font-size: 13px;
    color: grey;
    text-transform: capitalize;
}

.testimonials img {
    margin-bottom: 20px;
}

.testimonials .arrow {
    color: rgb(175, 173, 173);
}

/* styling news section =============================================*/

.news {
    padding: 80px 0;
}

.news img {
    width: 300px;
}

.news .col-1 {
    flex-basis: 32%;
    padding: 10px;
    align-items: flex-start;
}


.news .sub-heading {
    color: red;
    padding: 20px 0;
    margin: 0;
    margin-left: 15px;
}

.news h3 {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    margin-left: 15px;
}

.news p {
    margin: 0;
    margin-left: 15px;
    color: rgb(174, 185, 197);
}


/* styling form section  =============================================== */

.form {
    padding: 80px 0;
    background-color: #012D5B;

}

.form .sub-container {
    align-items: flex-start;

}

.form .col-1 {
    flex-basis: 35%;
    padding: 20px;
}

.form .col-2 {
    flex-basis: 55%;
    align-items: stretch;
    padding: 20px 20px;
    justify-content: stretch;


}

.col-2 .inputs {
    justify-content: space-between;
}

.form h2 {
    color: white;
    font-weight: 700;
}

.form p {
    color: white;
    padding: 30px 0;
    font-size: 13px;
    font-weight: 600;
}

.form input {
    padding: 10px 30px;

    margin-bottom: 20px;
    border: 2px solid #265f9c;
    border-radius: 5px;
    background-color: #012D5B;
}

.form select {
    padding: 10px 30px;
    flex-grow: 3;
    color: rgb(184, 183, 183);
    border: 2px solid #265f9c;
    border-radius: 5px;
    background-color: #012D5B;
}

.form input::placeholder {
    color: white;
}

.form .btn {
    flex-grow: 1;
    padding: 12px 35px;
    margin-left: 10px;
    text-align: center;
    text-transform: capitalize;
}


/* styling footer -------------------------------------------------------------------*/

.footer {
    padding: 80px 0 40px 0;
    background-color: #F8FAFE;
}

.footer img {
    width: 130px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.footer-social .fa {
    margin-right: 10px;
}

.footer h3 {
    text-transform: capitalize;
    color: #012D5B;
    margin-bottom: 20px;
}

.footer p {
    font-size: 14px;
    color: rgb(133, 133, 134);
    padding-bottom: 20px;
    line-height: 1.8;
}

.footer a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(133, 133, 134);
    text-transform: capitalize;
}

.footer .col-1 {
    flex-basis: 25%;
}

.footer .footer-contact {
    align-items: flex-start
}

.footer hr {
    border: none;
    border-top: 1px solid rgb(148, 153, 158);
    margin-top: 120px;
}

.footer-copyright .flex-r {
    justify-content: center;
    padding: 30px 0;
    font-size: 14px;
    color: rgb(148, 153, 158);
}

.footer-copyright .fa {
    color: red;
    margin: 0 5px;
}

#colorlib {
    margin: 0 5px;
    color: red;
}


/* styling about page ==================================*/

.hero-center {
    background-size: cover;
    background-image: url(assets/hero/about_hero.jpg), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

.hero-center .sub-container {
    align-items: center;
    padding: 70px 0;
}

.hero-center h1 {
    color: white;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 42px;
    width: 100%;
}


/* styling contact us page  ==================================================*/

.hero-contact {
    background-image: url(assets/hero/contact_hero.jpg), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}



.contact-map {
    justify-content: center;

}

.contact-form {
    padding: 100px 0;


}

.contact-map {
    width: 100%;
}

.contact-map iframe {
    width: 100%;
}

.contact-form .sub-container {
    align-items: stretch;

}

.get-in-touch {
    align-items: flex-start;
}

.get-in-touch .col-1 {
    flex-basis: 65%;
    padding: 20px 0;
    align-items: stretch;
}

.get-in-touch .col-2 {
    flex-basis: 25%;
    padding: 80px 0;
    justify-content: space-between;
}

.col-2 .form-icon {
    margin-bottom: 20px;
}

.form-icon .fa {
    color: rgb(163, 167, 172);
    margin-right: 15px;
    width: 30px;
}

.get-in-touch h3 {
    text-transform: capitalize;
    font-weight: 700;
    padding: 10px 0;
}

.col-1 input {
    flex-basis: 48%;
    padding: 10px 20px;
    margin: 30px 0;
    margin-bottom: 0px;
    border: 1px solid rgb(208, 211, 216);
}

.col-1 textarea {
    padding: 10px 20px;
    border: 1px solid rgb(208, 211, 216);
}

.get-in-touch .col-1 .btn {
    width: 100px;
    text-align: center;
    border: 1px solid red;
    border-radius: 2px;
    padding: 15px 25px;
    text-transform: uppercase;
    margin-top: 20px;
}

.form-icon .bold-text {
    font-weight: bold;
    text-transform: capitalize;
}

.form-icon .semi-bold-text {
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(163, 167, 172);
}

.col-1 input,
textarea::placeholder {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    color: rgb(183, 184, 187);
}

.col-1 input::placeholder {
    color: rgb(183, 184, 187);

}


/* styling services page  =================================================== */

.hero-services {
    background-size: cover;
    background-image: url(assets/hero/services_hero.jpg), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

/* styling cases page ========================================================*/


.hero-cases {
    background-size: cover;
    background-image: url(assets/hero/cases_hero.jpg), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

.completed-cases {
    padding: 80px 0;
    background-color: #F8FAFE;
}

.completed-cases .card-container {
    flex-wrap: wrap;
}

.completed-cases .card {
    flex: 25%;
    margin-bottom: 30px;
    position: relative;
}

.completed-cases .card img {
    width: 300px;
}

.completed-cases .card .image-text {
    position: absolute;
    bottom: 0;
    padding: 5px;
    left: 0;
    width: 250px;
    background-color: white;
}

.completed-cases .card h3 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}

.completed-cases .card p {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    color: lightslategrey;
}



/* styling blog page========================================================================= */

.hero-blog {

    background-size: cover;
    background-image: url(assets/hero/blog_hero.jpg), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));

}

.our-blog .sub-container {
    padding: 100px 0;
    align-items: flex-start;
}

.our-blog .col-1 {
    flex-basis: 65%;
}


.blog-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}

.blog-card .flex-r {
    justify-content: flex-start;
}

.blog-card img {
    width: 100%;
}

.image-container {
    position: relative;
}

.blog-card .btn {
    position: absolute;
    bottom: -10px;
    left: 0;
    padding: 15px 25px;


}

.blog-card .card-date {
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.blog-card .card-month {
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    font-size: 14px;

}

.blog-card h3 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
}

.blog-card .text-container p {
    font-weight: 600;
    color: lightslategrey;
    padding: 10px 0;
    line-height: 2;
}

.card-footer {
    padding: 20px 0 5px 0;
}

.blog-card .card-footer p {
    color: rgb(179, 178, 178);
    font-weight: 600;
    margin-right: 10px;
}

.card-footer .fa {
    color: rgb(163, 167, 172);
    margin-right: 10px;
}

.card-footer .fa-comments {
    margin-left: 10px;
}

.text-container {
    padding: 10px 40px;
}

.card-navigation {
    padding-top: 50px;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.card-navigation div {
    color: lightslategrey;
    margin-right: 10px;
    padding: 8px 16px;
    border: 1px solid rgb(218, 220, 223);
    font-size: 12px;
}

.active-box {
    background-color: rgb(234, 237, 253);
}


/* styling col-2 of blog page */

.our-blog .col-2 {
    flex-basis: 30%;
    align-items: stretch;
    justify-content: flex-start;



}

.search-box {
    background-color: #FBF9FF;
    padding: 30px 30px;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.search-box input {

    padding: 10px 25px;
    border: 1px solid rgb(208, 211, 216);
}

.search-box input::placeholder {
    text-transform: capitalize;
    font-size: 12px;
    color: rgb(174, 185, 197);
    font-weight: 600;


}

.search-box .btn {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    font-weight: normal;
    margin-bottom: 0;
}

.lens {
    padding: 7px 9px;
    color: white;
    font-weight: normal;
    background-color: rgba(245, 102, 102, 0.979);
}

/* category styling ==============================================*/
.category {
    padding: 20px;
    background-color: #FBF9FF;
    margin-bottom: 30px;
    align-items: stretch;
}

.category .heading {
    margin-bottom: 30px;
}

.category .last-item {
    border: none;
}

.category h3 {
    font-size: 20px;
    text-transform: capitalize;

}

.category p {
    font-size: 13px;
    color: lightslategrey;
    font-weight: 500;

}

.category div {
    border-bottom: 1px solid rgb(221, 222, 226);
    padding: 10px 0;
}


/* styling recent pages============================================= */

.our-blog .recent-image img {
    width: 70px;
    margin: 0;
    margin-right: 10px;
}

.recent-post {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #FBF9FF;

}

.recent-post h3 {
    font-size: 20px;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.recent-post hr {
    border: none;
    margin-bottom: 30px;
    width: 100%;
    border-top: 1px solid rgb(221, 222, 226);
}


.recent-post h5 {
    font-size: 14px;
    font-weight: 600;

}

.recent-post p {
    color: lightslategrey;
    font-weight: 700;
}

/* styling tag clouds ================================= */



.tag-clouds .tags {
    flex-wrap: wrap;
    justify-content: flex-start;

}

.tag-clouds .tags p {
    font-size: 10px;

    font-weight: 700;
    color: rgb(164, 165, 168);
    border: 1px solid rgb(219, 220, 223);
    flex-basis: 31%;
    padding: 2px 0;
    border-radius: 2px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 2px;
    background-color: white;

}



/* styling instagram feeds================================== */

.instagram-feeds .feeds {
    flex-wrap: wrap;
    width: 100%;

}

.instagram-feeds .feeds img {
    width: 40px;
    margin: 0;
    flex-basis: 31%;
    margin-bottom: 10px;
}


/* styling newsletter section================================= */